<div class="container-fluid p-5">
  <div class="skills-container" *ngIf="techStack.viewSkillBars" wmAnimate="fadeInUp" aos speed="normal">
    <div class="skills-bar">
      <h1 class="skills-heading" style="color: rgb(187, 255, 0)">Proficiency</h1>
      <div class="skill" *ngFor="let exp of techStack.experience">
        <p class="text-white mt-1 mb-1">{{exp.Stack}}</p>
        <div class="meter">
          <span [style]=progressStyle(exp.progressPercentage)></span>
        </div>
      </div>
    </div>
  
    <div class="skills-image">
      <img alt="Skills" src="https://res.cloudinary.com/freelance-work-rtj/image/upload/v1650305560/proff_dhtc6y.svg" >
    </div>
  
  </div>

</div>

