
<div class="container p-5">
  <div class="main contact-margin-top" id="contact" wmAnimate="jackInTheBox" aos speed="normal">
    <!-- <div class="contact-div-main">
      <div class="contact-header"> -->
        <h1 class="heading contact-title" style="color: rgb(187, 255, 0)">{{contactInfo.title}}</h1>
        <p class="subTitle contact-subtitle text-white">{{contactInfo.subtitle}}</p>
        <div class="contact-text-div">
          <a class="contact-detail text-white" href="{{'tel:'+ contactInfo.number}}">{{contactInfo.number}}</a>
          <br><br>
          <a class="contact-detail-email text-white" href="{{'mailto:' + contactInfo.email_address}}">
            {{contactInfo.email_address}}
          </a>
          <br><br>
          <app-social-media></app-social-media>
        <!-- </div>
      </div> -->
  </div>
</div>
