<div class="container-fluid p-5">
  <div class="main" id="skills">
    <div class="skills-main-div">
        <div class="skills-image-div" wmAnimate="fadeInRight" aos speed="normal">
          <img alt="Shreyansh Working" src="https://res.cloudinary.com/freelance-work-rtj/image/upload/v1650305560/cover_rk0rz5.svg" class="skills-image-div">
        </div>
        <div class="skills-text-div" wmAnimate="fadeInLeft" aos speed="normal">
          <h1 class="skills-heading" style="color: rgb(187, 255, 0)">{{skillsSection.title}}</h1>
          <p class="subTitle skills-text-subtitle text-white">{{skillsSection.subTitle}}
            <app-software-skill></app-software-skill>
          <div *ngFor="let skill of skillsSection.skills">
            <p class="subTitle skills-text text-white">{{skill}}</p>
          </div>
        </div>
  <!--    </Fade>-->
    </div>
  </div>
</div>